# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
%matplotlib inline
# Import API key
from api_keys import g_key
g_key

'AIzaSyDlGuLKwhme_x08j0yImEJ1ZaWMYOImDoM'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [66]:
df=pd.read_csv(r"C:\Users\Curtis Wright\Desktop\GT ATL GITBASH\gt-atl-data-pt-06-2020-u-c\DataViz-Content\06-Python-APIs\Homework\Instructions\starter_code\clean_city_date.csv")
df.head()

,Unnamed: 0,City,Lat,Lng,temp_max,Humidity,Cloudiness,Wind_speed,Country,Date
0,2,alugan,12.22,125.48,301.41,76.0,100.0,2.63,PH,1.595989e+09
1,3,mataura,-46.19,168.86,283.68,65.0,100.0,2.60,NZ,1.595989e+09
2,4,ushuaia,-54.80,-68.30,275.15,80.0,40.0,9.30,AR,1.595989e+09
3,6,rikitea,-23.12,-134.97,295.66,81.0,1.0,6.16,PF,1.595989e+09
4,7,ahipara,-35.17,173.17,288.38,67.0,100.0,5.16,NZ,1.595989e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [67]:

gmaps.configure(g_key)

In [68]:
locations = df[["Lat", "Lng"]].astype(float)

humidity=df['Humidity'].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [69]:
def convertToKelvin(x):
    F = x * 9/5 - 459.67
    return F
df['temp_max']=df['temp_max'].apply(convertToKelvin)

In [70]:
hotel_df=df.loc[(df['temp_max']<80) & (df['temp_max'] >70)]
hotel_df

,Unnamed: 0,City,Lat,Lng,temp_max,Humidity,Cloudiness,Wind_speed,Country,Date
3,6,rikitea,-23.12,-134.97,72.518,81.0,1.0,6.16,PF,1.595989e+09
5,8,vaini,-21.20,-175.20,73.400,64.0,20.0,8.20,TO,1.595989e+09
9,13,hasaki,35.73,140.83,73.436,83.0,75.0,6.70,JP,1.595989e+09
13,17,hilo,19.73,-155.09,73.778,58.0,90.0,4.10,US,1.595989e+09
15,19,meulaboh,4.14,96.13,77.252,82.0,100.0,2.35,ID,1.595989e+09
...,...,...,...,...,...,...,...,...,...,...
403,486,naples,40.83,14.25,74.552,88.0,0.0,0.50,IT,1.595989e+09
405,489,surab,28.49,66.26,75.344,55.0,32.0,0.08,PK,1.595989e+09
409,493,sao felix do xingu,-6.64,-51.99,70.430,47.0,0.0,0.69,BR,1.595989e+09
412,497,cookeville,36.16,-85.50,75.254,88.0,75.0,0.41,US,1.595989e+09
413,498,grand-lahou,5.14,-5.02,72.788,91.0,76.0,2.99,CI,1.595989e+09

In [82]:
hotel_df['Hotel Name']=''
hotel_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,City,Lat,Lng,temp_max,Humidity,Cloudiness,Wind_speed,Country,Date,Hotel Name
3,6,rikitea,-23.12,-134.97,72.518,81.0,1.0,6.16,PF,1.595989e+09,
5,8,vaini,-21.20,-175.20,73.400,64.0,20.0,8.20,TO,1.595989e+09,
9,13,hasaki,35.73,140.83,73.436,83.0,75.0,6.70,JP,1.595989e+09,
13,17,hilo,19.73,-155.09,73.778,58.0,90.0,4.10,US,1.595989e+09,
15,19,meulaboh,4.14,96.13,77.252,82.0,100.0,2.35,ID,1.595989e+09,
...,...,...,...,...,...,...,...,...,...,...,...
403,486,naples,40.83,14.25,74.552,88.0,0.0,0.50,IT,1.595989e+09,
405,489,surab,28.49,66.26,75.344,55.0,32.0,0.08,PK,1.595989e+09,
409,493,sao felix do xingu,-6.64,-51.99,70.430,47.0,0.0,0.69,BR,1.595989e+09,
412,497,cookeville,36.16,-85.50,75.254,88.0,75.0,0.41,US,1.595989e+09,
413,498,grand-lahou,5.14,-5.02,72.788,91.0,76.0,2.99,CI,1.595989e+09,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [79]:
# geocoordinates
target_coordinates = "43.6187102, -116.2146068"
target_search = ""
target_radius = 8000
target_type = "Hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params).json()

In [115]:
response['results'][1]["name"]

'TownePlace Suites by Marriott Boise Downtown/University'

In [116]:
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row['Lat']
    lng=row['Lng']
    target_coordinates=f'{lat}, {lng}'

    # add keyword to params dict
    params['location'] =target_coordinates

    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        #print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = response['results'][1]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
Missing field/result... skipping.
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------

In [117]:
hotel_df

,Unnamed: 0,City,Lat,Lng,temp_max,Humidity,Cloudiness,Wind_speed,Country,Date,Hotel Name
3,6,rikitea,-23.12,-134.97,72.518,81.0,1.0,6.16,PF,1.595989e+09,Pension Maro'i
5,8,vaini,-21.20,-175.20,73.400,64.0,20.0,8.20,TO,1.595989e+09,Keleti Beach Resort
9,13,hasaki,35.73,140.83,73.436,83.0,75.0,6.70,JP,1.595989e+09,Inubosaki Kanko Hotel
13,17,hilo,19.73,-155.09,73.778,58.0,90.0,4.10,US,1.595989e+09,Hilo Hawaiian Hotel
15,19,meulaboh,4.14,96.13,77.252,82.0,100.0,2.35,ID,1.595989e+09,Kantor Bupati Aceh Barat
...,...,...,...,...,...,...,...,...,...,...,...
403,486,naples,40.83,14.25,74.552,88.0,0.0,0.50,IT,1.595989e+09,Renaissance Naples Hotel Mediterraneo
405,489,surab,28.49,66.26,75.344,55.0,32.0,0.08,PK,1.595989e+09,esahulat
409,493,sao felix do xingu,-6.64,-51.99,70.430,47.0,0.0,0.69,BR,1.595989e+09,Correios
412,497,cookeville,36.16,-85.50,75.254,88.0,75.0,0.41,US,1.595989e+09,La Quinta Inn & Suites by Wyndham Cookeville
413,498,grand-lahou,5.14,-5.02,72.788,91.0,76.0,2.99,CI,1.595989e+09,Hotel Beatitude de Grand Lahou

In [118]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map

fig.add_layer(heat_layer)


# Display figure
fig